<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health Club Pricing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'healthclub/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <script src="{% static 'healthclub/js/jquery.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img id="logo" src="{% static 'healthclub/img/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
          </ul>
        </div>
      </nav>

    <div id="wrapper">
        <div id="black_bg">
        <div id="home_pricing">
            <div id="overlay">
                
                <div class="slogan">
                    <!-- <img id="alogo_pricing" src="{% static 'healthclub/img/alogo.png' %}"> -->
                    <div class="pricing_info">
                        <h3 class="membership_text">Standard Rate</h3>
                        <h5 class="membership_text_gray"><span><img class="pesos" src="{% static 'healthclub/img/peso.png' %}"> </span>3000</h5>
                        <h5 class="membership_text_gray">Access All Gym Equipment</h5>
                        <h5 class="membership_text_gray">Admission To Non-Paid Classes</h5>
                        <h5 class="membership_text_gray">Admission To Mens or Womens Lounge</h5>
                        <h5 class="membership_text_gray">Free Daily Locker</h5>
                    </div>
                    <div class="pricing_info">
                        <h3 class="membership_text">Group Rate</h3>
                        <h5 class="membership_text_gray"><span><img class="pesos" src="{% static 'healthclub/img/peso.png' %}"> </span>2500 Per Member</h5>
                        <h5 class="membership_text_gray">Access All Gym Equipment</h5>
                        <h5 class="membership_text_gray">Admission To Non-Paid Classes</h5>
                        <h5 class="membership_text_gray">Admission To Mens or Womens Lounge</h5>
                        <h5 class="membership_text_gray">Free Daily Locker</h5>
                    </div>
                    <div class="pricing_info">
                        <h3 class="membership_text">VIP Rate</h3>
                        <h5 class="membership_text_gray"><span><img class="pesos" src="{% static 'healthclub/img/peso.png' %}"> </span>5000 </h5>
                        <h5 class="membership_text_gray">Access All Gym Equipment</h5>
                        <h5 class="membership_text_gray">Admission To Paid And Non-Paid Classes</h5>
                        <h5 class="membership_text_gray">Personal Training</h5>
                        <h5 class="membership_text_gray">Unlimited Sauna Access</h5>
                        <h5 class="membership_text_gray">Admission To Mens or Womens Lounge</h5>
                        <h5 class="membership_text_gray">Free Daily Locker</h5>
                    </div>
                    <div class="pricing_info_sauna">
                        <div id="center">
                            <h3 class="membership_text">Sauna</h3>
                            <h5 class="membership_text_gray"><span><img class="pesos" src="{% static 'healthclub/img/peso.png' %}"> </span>100 Per Use (Standard/ Group Rates)</h5>
                            <h5 class="membership_text_gray"><span><img class="pesos" src="{% static 'healthclub/img/peso.png' %}"> </span>1000 For 15 Visits</h5>
                            <h5 class="membership_text_gray">Free Unlimited (VIP Package)</h5>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- <div id="services">
            <div class="carousel_main">
                <div id="carousel_container">
                    <div id="carousel_1" class="carousel slide" data-ride="carousel" data-interval="1950">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h2 class="info_text">Fast-Paced, Energetic, Fitness</h2>
                        </div>
                        <div class="carousel-item">
                            <h2 class="info_text">Dedicated Personal Trainers </h2>
                        </div>
                        <div class="carousel-item">
                            <h2 class="info_text">Full Service High-End Gym </h2>
                        </div>
                        <div class="carousel-item">
                            <h2 class="info_text">Spa, Sauna, Cafe </h2>
                        </div>   
                        <div class="carousel-item">
                            <h2 class="info_text">MMA, Kickboxing, Jiu Jitsu</h2>
                        </div>   
                    </div>
                    </div>
                </div>
            </div> -->
    
</body>
</html>